.container {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
}


.grid {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}
.grid-inner {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: calc(100% + 40px);
  margin-right: -20px;
  margin-left: -20px;
}
.grid-inner--hcenter {
  justify-content: center;
}
.grid-inner--vcenter {
  align-items: center;
}
.grid-inner--vend {
  align-items: flex-end;
}
.grid-inner--between {
  align-items: center;
  justify-content: space-between;
}
.grid-inner--nowrap {
  flex-wrap: nowrap;
}
.grid-cell {
  padding-right: 20px;
  padding-left: 20px;
}
.grid-cell--col1 {
  flex: 0 0 8.3334%;
  max-width: 8.3334%;
}
.grid-cell--col2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.grid-cell--col3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.grid-cell--col4 {
  flex: 0 0 33.3334%;
  max-width: 33.3334%;
}
.grid-cell--col5 {
  flex: 0 0 41.6665%;
  max-width: 41.6665%;
}
.grid-cell--col6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.grid-cell--col7 {
  flex: 0 0 58.3331%;
  max-width: 58.331%;
}
.grid-cell--col8 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}
.grid-cell--col9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.grid-cell--col10 {
  flex: 0 0 83.333%;
  max-width: 83.33%;
}
.grid-cell--col11 {
  flex: 0 0 91.6666%;
  max-width: 91.6666%;
}
.grid-cell--col12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.grid-cell--col14 {
  max-width: 1140px;
}

.show-tablet {
  display: none !important;
}
.hide-tablet {

}

@media (max-width: 800px) {
  .hide-tablet {
    display: none !important;
  }
  .show-tablet {
    display: flex !important;
  }
  .container {
    padding: 0 16px;
  }
  .grid-cell--col3--tablet {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-cell--col4--tablet {
    flex: 0 0 33.3334%;
    max-width: 33.3334%;
  }
  .grid-cell--col6--tablet {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-cell--col8--tablet {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .grid-cell--col12--tablet {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .hide-tablet {
    display: flex !important;
  }
  .show-tablet {
    display: none !important;
  }
  .grid-cell--col12--mobile {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .grid-cell--col6--small {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .section--noPadding .grid-cell--col12--mobile:last-child {
    margin-bottom: 0;
  }
}