/* helpers */
.txt-center {
	text-align: center;
}


/* typo */
.title {
	font-family: 'Roboto';
	font-weight: 700;
	line-height: 1.4;
}
	.title-l {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.title-m {
		font-size: 22px;
		margin-bottom: 10px;
	}

.text {
	font-family: 'Roboto';
	line-height: 1.4;
}
	.text-l {
		font-size: 14px;
	}


/* colors */
.is-light {
	color: rgba(0, 0, 0, 0.6);
}